<form enctype="multipart/form-data"
    method="post">

    {% csrf_token %}

    {% for item in formulario %}
    <div class="mb-3">
      <label for="" class="form-label">{{ item.label }}</label>
      
      {% if item.field.widget.input_type %}
      
      {% if item.field.widget.input_type == 'file' and item.value %}
      <br>
      <img src="{{ formulario.instance.imagen.url }}" width="100" class="img-fluid rounded-top" alt="">
      {% endif %}
      
      <input 
        type="{{ item.field.widget.input_type }}"
        class="form-control" 
        name="{{ item.name }}"
        value="{{ item.value|default:"" }}" 
        id="" 
        aria-describedby="helpId" 
        placeholder="{{ item.label }}">
      {% else %}
      <textarea
        class="form-control"
        name="{{ item.name }}" 
        id="" 
        aria-describedby="helpId" 
        placeholder="{{ item.label }}"
      >{{ item.value|default:"" }}</textarea>
      {% endif %}
    </div>
    <div class="col-12 help-text">{{ item.errors }}</div>
    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar Información">
    <a name="" id="" class="btn btn-primary" href="{% url 'libros' %}" role="button">Cancelar</a>
</form>